
.box {
    margin: 0 auto;
    background-color: lightsteelblue;
    position: relative;
}
.box h2 {
    color: white;
    margin-bottom: 3vh;


}
.btn-log {
    border: none;
    background-color: white;
    width: 20vw;

}